@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400;500;600;700;800;900&display=swap');
  
::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-thumb {
    background: #080808;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
}
  
::-webkit-scrollbar-track {
    background: #151515; 
}
  
  
:root {
    --black: #000;
    --lightBlack: #111111;
    --white: #fff;
    --AdventPro: 'Advent Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 400ms ease;
    scroll-behavior: smooth;
    overflow-x: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: var(--black);
    color: var(--white);
    font-family: var(--AdventPro);
}

.warning{
    padding: 1rem;
    color: #000;
    font-size: 1.3rem;
    position: fixed;
    top: 10rem;
    background: #ffea00;
    z-index: 5;
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.title img{
    width: 700px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: 600;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

nav::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(0,0,0,.1);
    backdrop-filter: blur(5px);
}

.navLeft{
    display: flex;
    gap: 2rem;
    z-index: 2;
}

#check{
    display: none;
}

.menu{
    position: fixed;
    right: 0;
    padding: 1.2rem 1rem 0rem 0rem;
    font-size: 2.8rem;
    font-weight: 600;
    cursor: pointer;
    display: none;
    z-index: 3;
}

.navLeft a{
    color: var(--white);
    text-decoration: none;
    position: relative;
    font-size: 1.2rem;
    font-weight: 400;
}

.navLeft a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: var(--white);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  
}

.navLeft a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
    color: var(--white);
    padding: 2rem 0rem;
}

.hero-content .time{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.hero-content .time h1{
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    letter-spacing: 5px;
    font-size: 2.5rem;
}

.hero-content .time h3{
    letter-spacing: 5px;
    font-size: 2rem;
}


.events .images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 3rem;
    gap: 8rem;
}

.events{
    margin-top: 38rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.events .linearGradient{
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    position: absolute;
    top: 30rem;
    width: 100%;
    height: 250px;
    z-index: 0;
}

.wrapper{
    display: flex;
    max-width: 1000px;
    position: relative;
    overflow-x: visible;
}
  .wrapper i{
    z-index: 1;
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #f2f2f2;
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 350px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: 300px;
    filter: grayscale(100);
  }
  
  .carousel img:hover{
    filter: grayscale(0);
  }
  .carousel img:first-child{
    margin-left: 0px;
  }

.events .eventlogo{
    width: 200px;
    margin-bottom: 2.5rem;
}

.imageBorder{
    padding: 1rem;
    filter: grayscale(100);
    border: 1px solid var(--white);
    cursor: pointer;
}

.imageBorder:hover{
    filter: grayscale(0);
    box-shadow: rgba(255, 255, 255, 0.392) 0px 5px 15px;
}

.img1{
    background-image: url(/assets/event1.svg);
    background-size: cover;
    width: 250px;
    height: 300px;
}

.img2{
    background-image: url(/assets/event2.svg);
    background-size: cover;
    width: 250px;
    height: 300px;
}

.img3{
    background-image: url(/assets/event3.svg);
    background-size: cover;
    width: 250px;
    height: 300px;
}

.img4{
    background-image: url(/assets/workshop1.svg);
    background-size: cover;
    width: 250px;
    height: 300px;
}

.img5{
    background-image: url(/assets/workshop2.svg);
    background-size: cover;
    width: 250px;
    height: 300px;
}

.eventBtn{
    background: none;
    color: var(--white);
    font-family: var(--AdventPro);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 5px;
    padding: 1rem 2rem;
    border: 1px solid var(--white);
    cursor: pointer;
    margin-top: 2rem;
    z-index: 2;
}

.eventBtn:hover{
    box-shadow: rgba(255, 255, 255, 0.392) 0px 5px 15px;
}

.stringStar1{
    position: absolute;
    top: 65rem;
    left: 0rem;
    background-image: url(/assets/Workshop\ String.svg);
    background-size: cover;
    width: 100vw;
    height: 400px;
    z-index: 1;
}

.stringStar2{
    position: absolute;
    top: 115rem;
    left: 0rem;
    background-image: url(/assets/About\ String.svg);
    background-size: cover;
    width: 100vw;
    height: 400px;
    z-index: 1;
}

.workshops{
    background-image: url(/assets/workshopbg.svg);
    background-size: cover;
    padding: 6.5rem 0rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.workshops img{
    width: 400px;
    margin-bottom: 1.5rem;
}

.workshops .images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 3rem;
    gap: 8rem;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    padding: 2rem 4rem;
}

.about .aboutImg{
    width: 200px;
    margin-bottom: 4rem;
}

.about .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
}

.about .content .left{
    display: flex;
    flex-direction: column;
}

.about .content .left p{
    text-align: justify;
    line-height: 22px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    width: 500px;
}

.about .content .left .logo img{
    width: 400px;
    margin-bottom: 2rem;
}

.about .content .right{
    width: 480px;
    height: 250px;
    border: 1px solid var(--white);
    padding: 1rem;
    overflow-x: visible;
}

.about .content .right iframe{
    width: 100%;
    height: 100%;
}

.about .content .left .contactBtn{
    width: 150px;
    height: 40px;
    padding: 0.5rem 1rem;
    border: 1px solid var(--white);
    background-color: var(--white);
    color: var(--black);
    font-family: var(--AdventPro);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.about .content .left .contactBtn:hover{
    color: var(--white);
    border: 1px solid var(--white);
    background: transparent;
}

footer{
    margin-top: 2rem;
    width: 100%;
    height: 50px;
    background: var(--lightBlack);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: uppercase;
}

footer p span{
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
}

/* Media Query */

@media only screen and (max-width: 1208px) {
    .wrapper{
        max-width: 800px;
    }

    .stringStar1{
        top: 64rem;
        left: 0rem;
    }
    
    .stringStar2{
        top: 116rem;
        left: 0rem;
    }

    .about .content{
        gap: 3rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .about .content .left{
        align-items: center;
        justify-content: center;
    }

    .about .content .left p{
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper{
        max-width: 600px;
    }

    .carousel img{
        height: 230px;
    }

    .title img{
        margin-top: 1rem;
        width: 500px;
    }

    .navLeft a{
        font-size: 1rem;
    }

    .hero-content .time h1{
        font-size: 2rem;
    }
    
    .hero-content .time h3{
        font-size: 1.5rem;
    }

    .stringStar1{
        top: 59rem;
        left: 0rem;
    }
    
    .stringStar2{
        top: 138rem;
        left: 0rem;
    }

    .about .content .left p{
        text-align: center;
    }

    .about .content .right{
        width: 570px;
        height: 250px;
    }
}

@media only screen and (max-width: 598px) {
    .wrapper{
        max-width: 350px;
    }

    .carousel img{
        width: 250px;
        height: 300px;
    }

    .wrapper i{
        top: 60%;
    }

    .title{
        padding-left: 2rem;
        position: absolute;
        top: -3rem;
        left: 0;
    }
    

    .title img{
        width: 300px;
    }

    nav .navLeft{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 2rem;
        left: 0;
        width: 100%;
        height: 20rem;
        background: rgba(0,0,0,.1);
        backdrop-filter: blur(5px);
    }

    nav::before{
        height: 32px;
    }

    .menu{
        display: block;
    }

    #close-icon{
        display: none;
    }

    .hero-content{
        top: -6rem;
    }

    .events .wrapper{
        margin-bottom: 2rem;
    }
    
    .events .eventlogo{
        margin-top: 8rem;
        margin-bottom: 4rem;
    }

    .hero-content .time h1{
        color: var(--white);
        -webkit-text-stroke: 0;
        font-size: 0.9rem;
    }
    
    .hero-content .time h3{
        font-size: 1.2rem;
    }

    .stringStar1{
        top: 72rem;
        left: 0rem;
        height: 250px;
    }

    .workshops img{
        width: 300px;
    }
    
    .stringStar2{
        top: 148rem;
        left: 0rem;
        height: 300px;
    }

    .about .aboutImg{
        width: 180px;
        margin-bottom: 4rem;
    }

    .about .content .left p{
        font-size: 1rem;
        width: 300px;
        text-align: center;
    }

    .about .content .left .logo img{
        width: 280px;
        margin-bottom: 2rem;
    }
    
    .about .content .right{
        width: 290px;
        height: 250px;
    }

    footer p{
        text-align: center;
        font-size: 8px;
    }

    footer p span{
        font-size: 9px;
    }
}